@page
@model IndexModel
@{
    ViewData["Title"] = "Gestão de Profissionais";
}

<body>
    <div class="container mt-5">
        @* Botões filtro e adicionar *@
        <div class="d-flex justify-content-between align-items-center mb-4">
            <button class="btn btn-outline-secondary">Filtrar por:</button>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">Adicionar +</button>
        </div>
        @* Modal adicionar *@
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Adicionar Profissional</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome" class="form-label">Nome do Profissional</label>
                                <input type="text" class="form-control" id="nomeProfissional">
                            </div>
                            <div class="mb-3">
                                select de dropdown list com banco de dados
                                <label for="especialidade" class="form-label">Especialidade</label>
                                <input type="text" class="form-control" id="especialidade">
                            </div>
                            <div class="mb-3">
                                <label for="tipoDocumento" class="form-label">Tipo do Documento</label>
                                <input type="text" class="form-control" id="tipoDocumento">
                            </div>
                            <div class="mb-3">
                                <label for="numeroDocumento" class="form-label">Número do Documento</label>
                                <input type="text" class="form-control" id="numeroDocumento">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        @* Tabela *@
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="report">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Especialidade</th>
                        <th scope="col">Tipo do Documento</th>
                        <th scope="col">Número do documento</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>João da Silva Almeida</td>
                        <td>Clínica Geral</td>
                        <td>CRM</td>
                        <td>1234567</td>
                        <td>
                            <button class="btn btn-outline-secondary btn-sm">
                                <i class="bi bi-three-dots-vertical"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Carlos Ferreira Alencar Junior</td>
                        <td>Psicologia</td>
                        <td>CRP</td>
                        <td>06123456</td>
                        <td>
                            <button class="btn btn-outline-secondary btn-sm">
                                <i class="bi bi-three-dots-vertical"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>José Machado Pereira Santos</td>
                        <td>Nutrição</td>
                        <td>CRN</td>
                        <td>312345</td>
                        <td>
                            <button class="btn btn-outline-secondary btn-sm">
                                <i class="bi bi-three-dots-vertical"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @* Paginação *@
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#">&lt;</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">&gt;</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
