@model GestaoProfissionais.Models.Profissional
@{
    ViewData["Title"] = "Novo Profissional";
}

<div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Adicionar Profissional</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome do Profissional</label>
                        <input type="text" class="form-control" id="nomeProfissional">
                    </div>
                    <div class="mb-3">
                        <label for="especialidade" class="form-label">Especialidade</label>
                        <input type="text" class="form-control" id="especialidade">
                    </div>
                    <div class="mb-3">
                        <label for="tipoDocumento" class="form-label">Tipo do Documento</label>
                        <input type="text" class="form-control" id="tipoDocumento">
                    </div>
                    <div class="mb-3">
                        <label for="numeroDocumento" class="form-label">Número do Documento</label>
                        <input type="text" class="form-control" id="numeroDocumento">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Salvar</button>
            </div>
        </div>
    </div>
</div>